@salmon: #FF6331;
@orange: #FFA331;
@blue: #2D89BF;
@green: #27CA77;

body, html {
    min-height: 100%;
    display: flex;
    margin: 0px;
    min-width: 100%;
    font-family: 'Ubuntu', sans-serif;
}

#root {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}