{
    "rules": {
        "no-console": 0,
        "indent": 2,
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "no-unused-vars": ["error", { "vars": "local", "args": "none", "ignoreRestSiblings": true }]
    },
    "env": {
        "es6": true,
        "node": true
    },
    "parserOptions":{
      "ecmaVersion": 2017,
      "ecmaFeatures": {
        "experimentalObjectRestSpread": true,
        "spread": true,
        "modules": true
      }
    },
    "extends": "eslint:recommended"
}